* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
 
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.container-header{
  display: flex;
  justify-content:space-around;
  background-color: rgb(37, 30, 30);
  align-items: center;
  color: aliceblue;
}

.container-p{
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  
  
}

.cards{
  background-color: rgba(228, 220, 220, 0.733);
  border-radius: 8%;
  text-align: center;
  border: solid 5px rgb(255, 255, 255);
  width: 27%;
  height: 250px;
  
}

h4{
  padding: 15px 10px 5px 10px;
}
.center{
display: flex;
justify-content: center;
}

.footer-felx{
  display: flex;
  justify-content: center;
  margin-top: 15px;

}