.container {
  background-color: rgba(240, 240, 240, 0.418);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-style {
  color: beige;
  border: solid rgb(244, 245, 243) 2px;
  background-color: #303030;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.52);
  width: 50%;
}
body{
  background-color: #1cc6d7;
  background-image: linear-gradient(225deg, #1cc6d7 0%, #4860b2 50%, #34a1f8 100%);
  padding: 50px;
}

label {
  margin: 10px 15px;
}

.container-buttons {
  display: inline-block;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

button {background-image: linear-gradient(to right, #eeeeee 0%, #22868f  51%, #ECE9E6  100%)}
button {
   margin: 10px;
   padding: 10px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.8s;
   background-size: 200% auto;
   box-shadow: 0 0 10px rgb(0, 0, 0);
   border-radius: 10px;
   color: #303030;
 }

 button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.input-form {
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.label-radio {
  display: flex;
  align-items: center;
}