body {
  font-size: large;
  margin: 10px 30px;

}
h1 {
  font-size: medium;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    margin-top: 25px;
}

@media screen and (min-width: 768px){
  body{
    background-color: rgb(158, 202, 240);
    font-size: x-large;
    margin: 70px 150px;
  } 

  figure {
    float: left;
    width: 45%;
    margin-right: 4px;}
}